.Header {
    height: 95vh;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    &TextBox {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &Primary {
        color: #fff;
        text-transform: uppercase;
        display: block;

        backface-visibility: hidden;
        margin-bottom: 6rem;

        &Main {
            display: block;
            font-size: 6rem;
            font-weight: 400;
            letter-spacing: 3.5rem;

            animation-name: moveInLeft;
            animation-duration: 1s;
            animation-timing-function: ease-out;

            /*
            animation-delay:3s;
            animation-iteration-count: 3;
            */
        }

        &Sub {
            display: block;
            letter-spacing: 2.9rem;
            font-size: 2rem;
            font-weight: 700;
            animation: moveInRight 1s ease-out;
        }
    }
}

.animatedBtn {
    animation: moveInButton 0.5s linear 1s;
    animation-fill-mode: backwards;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    80% {
        transform: translateY(-0.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
